// Variables and Mixins
@import "modules/bootstrap_grid_variables";
@import "mixins/clearfix";
@import "mixins/grid_framework";
@import "mixins/grid_mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/grid";
@import "partials/header";

// layout
.header, .footer {
    padding: 2em;
    color: #666666;
}

// universal typography
body {
  font-family: 'open_sansregular';
  font-size: 16px;
  line-height: 1.3em;
}

h1 {
    font-family: 'open_sansregular';
    font-weight: regular;
    font-size: 2em;
    line-height: 1.4em;
    color: #333;
}

// menu module
.menu {
    width: 100%;
    display: block;

    li {
        display: inline-block;

        a {
            display: block;
            padding: 0.5em;
            color: #333;
            text-decoration: none;
        }

        &:hover, &.active {
            a {
                background-color: #333;
                color: #fff;
            }
        }
    }
}
